@font-face {
    font-family: 'Carosello';
    src: url("Carosello-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'BebasNeue';
    src: url("BebasNeue-Regular.woff") format("Web Open Font Format");
}
@font-face {
    font-family: 'coolvetica';
    src: url("coolvetica rg.ttf") format("truetype");
}
@font-face {
    font-family: 'Bright';
    src: url("Bright\ DEMO.otf") format("truetype");
}
html {
    font-family: "Coolvetica", sans-serif;
    font-size: 18px;
    width: 100vw;
    height: auto;
    background-color: rgb(122,167,203);
    color: antiquewhite;
}
.Logo {
    width: 780px;
}
.Signage {
    height: 100vh;
    position: absolute;
    margin-left: 30px;
    z-index: -1;
}
h1 {
    font-family: 'Carosello', 'Bright';
    font-size: 160px;
    text-align: center;
    position: absolute;
    top: 90px;
    left: 70px;
 }
h2 {
    font-family: 'Coolvetica', sans-serif;
    font-size: 100px;
    line-height: 85%;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 100px;
}