html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 px high*/
    font-family: "Lato", sans-serif; /* this should be the rest of the output you got from google fonts*/
    background-color: #D99C52;
}
body {
    width: 800px;
    margin: 20px auto;
    background-color: #e9cc95;
    padding: 0 20px 20px 20px;
    border: 5px solid #30b39b;
    border-radius: 25px;
}
h1 {
    font-size: 60px;
    text-align: center;
    color: coral;
    text-shadow: 3px 3px 3px gray;
    padding: 0px 0;
    margin: 10px;
}
h2 {
    font-size: 24px;
    text-align: center;
    color: chocolate;
    margin: 0;
    padding: 0px 0;
}
h3, h4 {
    font-size: 16px;
    font-style: oblique;
    margin: 0 auto;
    color: cornflowerblue;
    padding: 0px 0;
}
p, li {
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 1px;
    color: rgb(67, 150, 150);
}
img {
    width: auto;
    height: 20em;
    display: block;
    margin: 0 auto;
}
button {
    font-style: italic;
}
a {
    color: blue;
}
a:hover {
    color: cadetblue;
}